body{
    background-color: rgb(195, 144, 171);
}
/* styles.css */
h1 {
    font-family: Arial, sans-serif;
    text-align: center;
}
h2 {
    font-family: Arial, sans-serif;
    text-align: center;
}
